@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --max-width-container: 1344px;
  --breakpoint-container: 1344px;

  --color-green-500: #5ac53d;
  --color-neutral-50: #f6f6f6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;

  /* Hide arrows in WebKit browsers */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Hide arrows in Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
